@charset 'utf-8';
html{
	background: #efefef;
}
header{
	width: 100%;
	text-align: center;
	position: relative;
	font-size: 0.57rem;
	background: #ff3300;
	color: #fff;
	height: 1.29rem;
	line-height: 1.29rem;
	box-sizing:border-box;
	padding: 0 0.46rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
header .back{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0%,-50%);
	width: 0.8rem;
	height: 0.8rem;
	overflow: hidden;
}
header .back img{
	width: 100%;
	height: 100%;
}
.main{
	width: 100%;
	height: auto;
	margin-top: 1.3rem;
}
.main ul li{
	background: #fff;
	box-sizing:border-box;
	padding:0.1rem;
	width: 100%;
	height: auto;
	margin-bottom: 0.3rem;
}
.main ul li a{
	color: #000;
	text-align: justify;
	word-wrap: break-word; 
	word-break: normal; 
}
.main ul li a:hover{
	text-decoration: none;
}
.main ul li a span{
	float: right;
	width: 100%;
	text-align: right;
	color: #999;
	display: inline-block;
}
.main ul li a .lit{
	border-bottom:1px dashed #999;
	min-height: 1rem;
}
.main .lif{
	text-align: center;
	padding:0.2rem 0;
}
.main .lif button{
	background: 0;
	border: #DDD solid 1px;
	padding:0 0.2rem;
	margin-left: 0.2rem;
}
.main .lif .btn1{
	color: red;
}