@charset 'utf-8';
html{
	background: #ddd;
}
body{
	box-sizing:border-box;
	border-right:1px solid #c7c7c7;
	border-left:1px solid #c7c7c7;
	background: #ddd;
	position: relative;
}
.box{
	width: 100%;
	height: auto;
	margin: 0 auto;
	position: relative;
	background: #ddd;
}
.header{
	width: 100%;
	background: #fff;
	box-sizing:border-box;
	overflow: hidden;
	padding:0 0.18rem;
	font-size: 0.37rem;
	height: 1.29rem;
	display: flex;
	align-items: center;
	/*margin-bottom: 0.36rem;*/
	position: fixed;
	top: 0;
	left: 0;
	border-right:1px solid #c7c7c7;
	border-left:1px solid #c7c7c7;
}
.head_l{
	width: 1rem;
	display: inline-block;
	float: left;
	height: 1rem;
	overflow: hidden;
	border-right: 1px solid #ddd;
	align-items: center;
	display: flex;
}
.head_l .img{
	width: 0.5rem;
	height: 0.5rem;
	overflow: hidden;
	
}
.head_l .img img{
	width: 100%;
	height: 100%;
}
.head_r{
	margin-left: 0.36rem;
}
.nav{
	width: 100%;
	background: #fff;
	margin: 0 auto;
	height: auto;
	box-sizing:border-box;
	overflow: hidden;
	padding:0 0.18rem;
	margin-bottom: 0.36rem;
	margin-top: 1.66rem;
}
.nav ul li{
	font-size: 0.37rem;
	height: 1.29rem;
	line-height: 1.29rem;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	padding:0.1rem 0;
}
.nav ul li a{
	color: #000;
	width: 100%;
	display: inline-block;

}
.nav ul li a:hover{
	text-decoration: none;
}
.nav ul li:last-child{
	border: 0;
}
.nav ul li a .imgr{
	float: right;
	display: none;	
}
.nav ul li a .show{
	display: block;
}
.nav ul li .imgs{
	display: inline-block;
	color: #ddd;
	height: 1.18rem;
	width: 1.18rem;
	overflow: hidden;
	border-radius: 50%;
	float: left;
	margin-right: 0.5rem;
}
.nav ul li .imgs img{
	width: 100%;
	height: 100%;
}

.footer{
	width: 100%;
	height: 1.29rem;
	line-height: 1.29rem;
	margin: 0 auto;
	text-align: left;
	background: #fff;
	box-sizing:border-box;
	padding:0 0.2rem;

}
.footer button{
	height: 1.29rem;
	background: #fff;
	border: 0;
	font-size: 0.37rem;
}
.footer .img{
    float: right;
    text-align: right;
    display: inline-block;
}
.footer .img img{
	vertical-align: middle;
}